.dataBackDrop{
    width: 400px;
    height: 200px;
    background-color: lightgrey;
    color:black;
    display: flex;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
}