.link {
    stroke: #ccc;
    fill: none;
  }
  
  .node {
    stroke: white;
    stroke-width: 1.5px;
  }
  
  .bundle {
    fill: #aaa;
    opacity: 0.8;
  }
  
  .slider_container{
    margin-top: 40px;
    margin: 0px;
    width : 80%;
  }

  #ticks_slider .e-range{
    z-index : unset;
  }

  #ticks_slider .e-scale{
    z-index: 0;
  }

  #ticks_slider .e-scale .e-custom::before{
    font-size: 10px;
  }

  #ticks_slider .e-scale .e-custom::before{
    top: calc(50% + 1px);
    left: calc(50% - 5px);
  }

  #slider-wrapper #ticks_slider .e-scale :nth-child(1) ::before{
    top: calc(50% + 1px);
    left: calc(0% - 5px);
  }

  #slider-wrapper #ticks_slider .e-scale :nth-child(6) ::before{
    top: calc(50% + 1px);
    left: calc(100% - 6px);
  }

