<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--My stuff-->
<mat-tab-group>
    <mat-tab label="Module Connections">
        <strong>Server Logs:</strong>
        <app-logger-display [mode]="'top'">
        </app-logger-display>
    </mat-tab>

    <mat-tab label="Module Content">
        <app-logger-display [mode]="'bottom'">
        </app-logger-display>
    </mat-tab>
</mat-tab-group>
